
<div class="row">
<div class="col-md-6 bd-content">
    ::data-schedule::
</div>
<div class="col-md-6">
    <div class="row">
    <div class="col-md-12">
        <table class="table table-hover" id="persons-table">
        <thead class="thead-light">
            <tr>
            <th colspan="3" class="table-label text-left">People></i></th>
            <th class="table-label text-right" >
                <a href="#" class="btn btn-outline-success btn-sm" id="persons-table-label" role="button">Add<i class="fa fa-plus"></i></a>
                <a href="/persons" class="btn btn-outline-primary btn-sm" role="button">List<i class="fa fa-bars"></i></a>
            </th>
            </tr>
            <tr>
            <th scope="col">Full name</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        </table>
    </div>
    </div>
    <div class="row">
    <div class="col-md-12">
        <table class="table table-hover" id="workplaces-table">
        <thead class="thead-light">
            <tr>
                <th class="table-label text-left">Workplaces</th>
                <th class="table-label text-right" >
                    <a href="#" class="btn btn-outline-success btn-sm" id="workplaces-table-label" role="button">Add<i class="fa fa-plus"></i></a>
                    <a href="#" class="btn btn-outline-primary btn-sm disabled" role="button">List<i class="fa fa-bars"></i></a>
                </th>
            </tr>
            <tr>
                <th scope="col">Designation</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        </table>
    </div>
    </div>
    <div class="row">
    <div class="col-md-12">
        <table class="table table-hover" id="equipments-table">
        <thead class="thead-light">
            <tr>
                <th colspan="3" class="table-label text-left">Equipments</i></th>
                <th class="table-label text-right" >
                    <a href="#" class="btn btn-outline-success btn-sm" id="equipments-table-label" role="button">Add<i class="fa fa-plus"></i></a>
                    <a href="/equipments" class="btn btn-outline-primary btn-sm" role="button">List<i class="fa fa-bars"></i></a>
                </th>
            </tr>
            <tr>
                <th scope="col">Designation</th>
                <th scope="col">Type</th>
                <th scope="col">Description</th>
                <th scope="col">Workplace</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        </table>
    </div>
    </div>
</div>
</div>